.input2{
    box-sizing: border-box;
    margin-right: 15px;
}
.input2 input{
    width: 100%;
    border: 1px solid #979797;
    border-radius: 4px;
    height: 48px;
}
.input2 input:focus{
    outline-style: none;
    color: #7A6D60;
    padding-left: 10px;
}
.label {
    font-size: 14px;
    color: #7A6D60;
    display: block;
}