<div class="pagination">
    <button class="btn-primeiro btn-disable">primeira</button>
    <button class="btn">
        <span class="material-icons btn-disable">
            keyboard_arrow_left
        </span>
    </button>
    <button class="btn btn-selected">1</button>
    <button class="btn">2</button>
    <button class="btn">3</button>
    <button class="btn">
        <span class="material-icons c-marromL">
            keyboard_arrow_right
        </span>
    </button>
    <button class="btn-ultimo c-marromL">última</button>
</div>