.user-list{
    display: flex;
    list-style: none;
    margin: 0;
}
.user-list li{
    font-size: 14px;
    color: #7A6D60;
    padding-right: 20px;
}
.user-list li:nth-child(1){
    padding-right: 5px;
}
.user-list li span{
    font-size: 14px;
    color: #7A6D60;
    font-weight: bold;
    display: inline-block;
    margin-left: 3px;
}
