.btn-login{
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #e96629;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.btn-login-disable{
    background-color: #c7c4c4;
    pointer-events: none;
    color: gray;
}